/*footer*/
.col_white_amrc {
    color: rgb(26, 26, 26);
  }
  
  footer {
    width: 100%;
    background-color: #1f1f1f;
    min-height: 75px;
    padding-top: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    justify-content: center;
  
  }

  .padding-right {
    padding-right: 20px;
  }
  
  .footer_ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    
  }
  .text-center {
    text-align: center;
    padding-bottom: 10px;
    color: white;
  }
  footer li {
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    display: inline-block;

    padding: 5px;
    
  }
  a{
    color: rgb(255, 255, 255);
    text-decoration: none;

  }

  