.backround {
    background: linear-gradient(to bottom, #161616,#1b1b1b, #242424);
    font-family:"Lora", serif bold;
    padding: 0;
    margin: 0;
}
.body{
    max-width: 80%;
    background: transparent;
    font-family:"Lora", serif bold;
    padding: 15px 10%;
    margin: 0;
}

h1{
    font-family:"Lora", serif bold;
    font-size: 48px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-clip: text;
    margin-top: 2rem;
}
h2{
    font-family:"Lora", serif bold;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-clip: text;
    margin-top: 4rem;
}

.Upload{
    background-color: #4fc524;
    border: none;
    color: white;
    font-family: "Lora", serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin:0 auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border-radius: 48px;
    border: #4fc524;
    border-color: #161616;
    font-size: 16px;
    width: 10%;
    min-width: 180px;
}

.Upload:hover{

    box-shadow:0px 0px 35px #4fc524;
    transition: all .5s ease;
}

.Promo_1
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-family: "Lora", serif;
    font-size: 24px;
    margin-top: 0;
    padding-left: 20%;
    padding-right: 20%;
    height: 60%;
    
}
.promo_box{
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    background: #0D262A; 
    padding: 5px; 
    border-radius: 24px; 
    min-width: 950px;
    animation: breathing 5s ease-in infinite;
}

    .Promo_2
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: white;
        font-family: "Lora", serif;
        font-size: 24px;
        margin-top: 0;
        padding-left: 20%;
        padding-right: 20%;
        height: 60%

    }
    .Promo_3
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: white;
        font-family: "Lora", serif;
        font-size: 24px;
        margin-top: 0;
        padding-left: 20%;
        padding-right: 20%;
        height: 60%
    }

    


.Promo_1 img {
    width: 50%;
    height: auto;
    border-radius: 5%;
    min-width: 500px;
  }
.Promo_2 img {
    width: 50%;
    height: auto;
    border-radius: 5%;
    min-width: 500px;
  }
.Promo_3 img {
    width: 50%;
    height: auto;
    border-radius: 5%;
    min-width: 500px;
  }

  
  .text {
    width: 50%;
    text-align: center;
    padding-left: 10px;
    margin-left: 10px;
  }
  
  .text h3 {
    margin-top: 0;
  }

  .text p {
    color : rgb(255, 255, 255);
    padding: 15px;
  }

  @keyframes breathing {
    12% {
      box-shadow: 0px 0px 0px 0px #3b39be;
    }
    24% {
        box-shadow: 0px 0px 5px 1px #3b39be;
    }
    36% {
        box-shadow: 0px 0px 10px 2px #3b39be;
    }
    48% {
        box-shadow: 0px 0px 15px 3px #3b39be;
    }
    60% {
        box-shadow: 0px 0px 20px 4px #3b39be;
    }
    72% {
        box-shadow: 0px 0px 15px 3px #3b39be;
    }
    84% {
        box-shadow: 0px 0px 10px 2px #3b39be;
    }
    96% {
        box-shadow: 0px 0px 5px 1px #3b39be;
    }
    100% {
        box-shadow: 0px 0px 0px 0px #3b39be;
      }
    

  }