body{
    background: linear-gradient(to bottom, #161616,#1b1b1b, #242424);
  }
form table {
    border-collapse: collapse;
    width: 100%;      
    margin-bottom: 4rem;  
    height: 80vh;
    max-height: 8vh;
}
form th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
    background-color: #292929;
    color: white;
    border-color: transparent;
    font-family: "Lora", serif;
    font-weight: 800;
    
    
}
form th {
    background-color: #292929;
    color: white;
    

}
form tr {
    margin: auto;
}



form {
    text-align: center;
    margin-top: 20px;
}

    

form {
width: 60%; /* Set the width here */
margin: 0 auto; /* Center the form */
background-color: transparent;
border-radius:48px;
color: #242424;
}



@media (max-width: 980px) {

    form {
        width: 90%;
    }
}
