<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Identify_unit.css') }}">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  crossorigin="anonymous"></script>

{% include 'Nav_bar.html' %}
{% include 'loading.html' %}
<div style="margin: 0 auto;">
<img class="unit_exp" src="/static/imgs/Units_explained.png" alt="">
<br>
<form method="post" id="NHi_form">
    
  <table>
    <thead>
      <tr>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      {% for task in form.tasks %}
      <tr>
        <td id="{{ task.label.text }}">{{ task.label.text }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button action="Submit">Next</button>

</form>
</div>
<script type="text/javascript">
  const url = window.location.href;
  const filename = url.substring(url.lastIndexOf("/") + 1);
  const form = document.querySelector("#NHi_form");
  const tasks = document.querySelectorAll("td");

  let unit_categories = [];
  let grade_categories = [];

    const table = document.querySelector('tbody');
  
    table.addEventListener('click', (e) => {
      let target = e.target;
      let count = target.dataset.count || 0;
      count++;
      console.log(unit_categories);
      console.log(grade_categories);
  
      if (count === 1) {
        target.style.background = '#2f8f0c';
        unit_categories.push(target.id);
        grade_categories = grade_categories.filter((name) => name !== target.id);
      } else if (count === 2) {
        target.style.background = '#324CCE';
        grade_categories.push(target.id);
        unit_categories = unit_categories.filter((name) => name !== target.id);
      } else if (count === 3) {
        target.style.background = '#292929';
        grade_categories = grade_categories.filter((name) => name !== target.id);
        unit_categories = unit_categories.filter((name) => name !== target.id);
        count = 0;
      }
  
      target.dataset.count = count;
    });

  form.addEventListener("submit", function (event) {
    event.preventDefault();
    const unitsInput = document.createElement("input");
    unitsInput.type = "hidden";
    unitsInput.name = "units";
    unitsInput.value = unit_categories.join(",");
    form.appendChild(unitsInput);

    const gradeGroupsInput = document.createElement("input");
    gradeGroupsInput.type = "hidden";
    gradeGroupsInput.name = "grade_groups";
    gradeGroupsInput.value = grade_categories.join(",");
    form.appendChild(gradeGroupsInput);

    form.submit();
  });
</script>

  {% include 'footer.html' %}