<link rel="stylesheet" href="{{ url_for('static', filename='CSS/Identify_NHI.css') }}">


{% include 'Nav_bar.html' %}
{% include 'loading.html' %}
<h3>Identify NHI's</h3>



<form method="post" id="NHi_form">
  <img class="unit_exp" src="/static/imgs/Units_explained.png" alt="">
  <table>
    <thead>
      <tr>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      {% for task in form.tasks %}
      <tr>
        <td id="{{ task.label.text }}">{{ task.label.text }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="Submit">

</form>
{% include 'footer.html' %}
<script type="text/javascript">
  const url = window.location.href;
  const filename = url.substring(url.lastIndexOf("/") + 1);
  const form = document.querySelector("#NHi_form");
  const tasks = document.querySelectorAll("td");

  let nhis = [];


    const table = document.querySelector('tbody');
  
    table.addEventListener('click', (e) => {
      let target = e.target;
      let count = target.dataset.count || 0;
      count++;
      

  
      if (count === 1) {
        target.style.background = '#ed4337';
        nhis.push(target.id);
        
        
      } else if (count === 2) {
        target.style.background = '#292929';
        nhis = nhis.filter((name) => name !== target.id);
        
        count = 0;
      }
  
      target.dataset.count = count;
      console.log(nhis);
    });

  form.addEventListener("submit", function (event) {
    event.preventDefault();
    const nhiInput = document.createElement("input");
    nhiInput.type = "hidden";
    nhiInput.name = "NHIs";
    nhiInput.value = nhis.join(",");
    form.appendChild(nhiInput);

    form.submit();
  });
</script>