<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Nav.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Donate.css') }}">
    <div id="donation-form">




<nav>
    <div class="logo"><a href="{{ url_for('home')}}" >Student Pro Tools</a></div>
    <input type="checkbox" id="checkbox">
    <label for="checkbox" id="icon">
        <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </label>
    <ul>
        <li class="Nav-li"><a href="{{ url_for('home')}}">Home</a></li>
        <li class="Nav-li"><a href="#">About</a></li>
        <li id="donate-button" class="Nav-li"><a>Donate</a></li>
        <li class="upload-marks"><a href="{{ url_for('upload')}}">Upload Marks</a></li>
    </ul>
</nav>

  
</html>

